.content {
    padding: 20px;
    background-color: #f2f2f2;
    border: 1px solid #ddd;
    border-radius: 5px;
    margin: 20px;
}

.content h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 10px;
}

.content table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.content th,
.content td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    overflow: auto;
    text-overflow: ellipsis;
    word-break: break-word;
}

.content th {
    background-color: #f2f2f2;
}

.content th:nth-child(2) {
    width: 200px; 
}
